@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="Add" asp-controller="AddEmployee" method="post">
        Inserisci dati dipendente:
        <div>
            Nome:<input type="text" name="Nome" />
        </div>
        <div>
            Cognome:<input type="text" name="Cognome" />
        </div>
        <div>
            Indirizzo:<input type="text" name="Indirizzo" />
        </div>
        <div>
            Codice Fiscale:<input type="text" name="Codfiscale" />
        </div>
        <div>
            Coniugato:<input name="Coniugato" type="radio" value="Si" />
            <input type="radio" name="Coniugato" value="No" />
        </div>
        <div>
            Num Figli:<input type="text" name="Nfigli" />
        </div>
        <div>
            Mansione:<input type="text" name="Mansione" />
        </div>
        <button>Aggiungi Impiegato</button>

 </form>

<ul>
    @{
        foreach (Dipendenti dipendente in Model)
        {
            <li>
                Nome: @dipendente.Nome, Cognome: @dipendente.Cognome, Indirizzo:@dipendente.Indirizzo,;
            </li>
        }
    }
</ul>

